@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

@import url(/static/css/components/overwritten.css);

/* Components */
@import url(/static/css/components/navbar.css);
@import url(/static/css/components/footer.css);
@import url(/static/css/components/container.css);
@import url(/static/css/components/pagination.css);

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: all .3s;
}

body {
  background-color: var(--background-color);
}

#main {
  width: 100%;
  min-height: 100vh;
}