@import url(https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

/* Components */
@import url(/static/css/components/navbar.css);
@import url(/static/css/components/footer.css);

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: all .3s;
}

#main {
  width: 100%;
  min-height: 100vh;
}